track-content[type="insert"] {
    color: green;
    text-decoration: underline;
}

track-content[type="delete"] {
    color: red;
    text-decoration: line-through;
}

track-mark[type="added"] {
    border-bottom: 2px solid blue;
}

track-mark[type="removed"] {
    border-bottom: 2px solid orange;
}